@import '~node_modules/modern-normalize/modern-normalize.css';


.search-form {
  padding-top: 25px;
  padding-bottom: 25px;
  text-align: center;
  background-color: hsla(57, 80%, 49%, 0.731);
}

.is-hidden {
  display: none;
}

.gallery {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}



  
  
  
  
 

    
  
 